<h1>Buscador <small>{{termino}}</small></h1>

<div class="row animaded fadeIn fast" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No Existe resultados con el término: <strong>{{ termino }}</strong>
    </div>
  </div>
</div>


<div class="card-columns">
  <!-- *ngFor="let _heroe of heroes; let i = index " -->
  <app-heroe-tarjeta [heroe]="_heroe" [index]="_heroe.idx" *ngFor="let _heroe of heroes; let i = index " ></app-heroe-tarjeta>

</div>